/* p{
	width: auto;
	margin: 0px;
    position: relative;
    height: 1302px;
    background-color: #F4F2F2;
    display: none;
    animation: fadeInAnimation ease 3s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards; 

} */



html {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'sofia-pro', sans-serif;
    font-weight: 600;
    font-size: 40px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 36px;
    margin-top: 40px;
    
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 24px;
    margin:10px;
    margin-top: 30px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin:10px;
}


p {
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Lato', sans-serif; */
    font-family: 'sofia-pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #5f5f5f;
    line-height: 150%;
     
}

.animation {
    animation: fadeInAnimation ease 2s; 
	animation-iteration-count: 1; 
	animation-fill-mode: forwards;
}
@keyframes fadeInAnimation { 
	0% { 
		opacity: 0; 
	} 
	100% { 
		opacity: 1; 
	} 
} 

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    z-index:2;
}

.title {
    font-weight: 200;
    font-size: 110px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
.aboutMe {
    font-family: 'sofia-pro', sans-serif;
    text-align: center;
    color: #5f5f5f;
    font-weight: 100;
    font-style: normal;
    font-size:18px;
    width: 800px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 10px;
    line-height: 150%;
    
}

.subtitleContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.subtitle {
    font-family: 'sofia-pro', sans-serif;
    font-weight: 300;
    font-size:30px;
    padding: 20px;
    color: black;
    text-decoration: none;
}
.subtitle:hover {
    /* text-decoration: underline; */
    text-decoration: underline solid #8662AA;
}

#logo {
    margin-left:30px;
    font-weight:200;
    font-size: 24px;
}

/* ABOUT STYLES */
.headerBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 45px;
	padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index:1;
    
}
a {
    text-decoration: none;
    color: black;
    transition: all .15s ease-in-out;
    padding: 20px;
}
nav {
    display: flex;
    justify-content: space-between;
    /* max-width: 50vw; */
    font-size: 18px;
    font-weight: 300;
    padding:25px
    /* margin-bottom: 60px; */
}

.navlabel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    padding: 5px 10px;
}

.navlabel .label {

    margin-left: 5px;

    font-size: 18px;
    font-weight: 200;

}

.label:hover {
    text-decoration: underline solid #8662AA;
    text-decoration-thickness: 0.2em;
}

.contentContainer {
    display: flex;
    flex-direction: row;
}



/* CONTACT STYLES */
.contactContainer {
    width: 600px;
    text-align:center;
}
.contactContent {
    position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
    font-weight: 400;
    font-size: 40px;

}
.email {
    color: grey;
}

.email:hover {
    text-decoration: underline solid #8662AA;
    text-decoration-thickness: 0.1em;
}


/* PROJECT STYLES */

.projectsContainer {
    margin-top: 50px;
}

.card {
    border-radius: 10px;
    /* box-shadow: 0px 0px 6px #bdbdbd; */
    background-color: white;
    display: flex;
    margin-bottom: 20px;
    /* overflow: scroll; */
    overflow-x: hidden;
    padding: 3rem 2rem;
    /* width: 1000px; */
    margin-left: 250px;
    margin-right: 100px;
    
  }

  
  .card.horizontal {
    flex-direction: row;
    justify-content: space-between;
  }

  .card.vertical {
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    margin-bottom: 40px;
  }

  .imageContainer {
    
  }

  .imageContainer.width {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 200px;
    height: 370px;
  }
  .imageContainer.height.shop {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-top: 20px;
    width: 700px;
    height: 270px;
  }

  .imageContainer.height.hm {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    margin-top: 20px;
    width: 700px;
    height: 130px;
  }
  
  /* td {
    height:400px; 
  } */

  .imageContainer.width img {
    width: auto;
    height: 100%;
}
.imageContainer.height img {
    width: 100%;
    height: auto;
}
.imageRow {
    display: flex;
    justify-content: center;
    margin-left:120px;
    margin-top: -5px;
}
.imageRow li {
    display: inline-block;
    margin-left: 80px;
    margin-right: 180px;
}

figcaption {
    text-align: center;
    margin: 10px;
}

  .imageWCaptions {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .imageHeader {
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      font-family: 'Lato', sans-serif;
      font-size: 18px;
  }

  .caption {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
  }

  #sidebar {
    width: 150px;
    margin-left: 80px;
    margin-top:20px;
    background-color: white;
    position: fixed;
  }

  .projectHeader {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
  }

  .NAC {
    font-size: 18px;
    font-weight: 500;
  }
  .NAC:hover {
    text-decoration: underline #A089B8;
    text-decoration-thickness: 0.2em;
  }

  #seam {
    display: none;
  }

  button {
      border: none;
      background: none;
      /* font-family: 'Open Sans', sans-serif; */
      /* font-family: 'Montserrat', sans-serif; */
      font-family: 'sofia-pro', sans-serif;
      font-weight: 200;
      font-size: 16px;
      padding: 6px 10px;
      color: #5f5f5f;
  }
  button:active {
    outline: none;
    background-color: #A089B8;
    color:white;
    border-radius: 4px;
}
button:hover {
    outline: none;
    background-color: #A089B8;
    color:white;
    border-radius: 4px;
}
